/* Theme */
:root {
  --primary-color: rgba(255, 255, 255, 1);
  --secondary-color: #057dcd;
  --secondary-hover: #43b0f1;
  --accent-color: #e4b4b4;
  --primary-faded: rgba(255, 255, 255, 0.8);
  --text-color: rgba(73,61,52,1);
}

body {
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
  color: var(--text-color);
}

section {
  text-align: center;
  box-sizing: border-box;
  overflow: auto;
}

.landing-container {
  width: 100%;
  height: 100vh;

  background-color: var(--primary-color);
  font-family: "The Seasons", serif;

  padding: 0.5em;
}

.landing-container .container {
  border: 2px solid var(--text-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.initial-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 720px;
  width: 100%;
}

.initial-logo .image {
  padding: 10px;
}

.initial-logo img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 8em;
  flex: 1;
}

.initial-logo span {
  font-size: 3em;
  text-align: center;
  font-weight: 300;
  flex: 2;
}

.landing-container h2 {
  text-align: center;
  font-size: 1.9em;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0.5em;
}

.landing-container h3 {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.75em;
  font-weight: 300;
}

section {
  text-align: left;
  padding: 1.25em;
  max-width: 1024px;
}

section h1,h2,h3 {
  font-weight: bold;
  margin-bottom: 0.25em;
  text-align: center;
  font-family: "The Seasons", serif;
}

section h2:not(:first-child) {
  margin-top: 1.25em;
}

section a {
  color: var(--secondary-color);
}

section a:hover{
  color: var(--secondary-hover);
}

blockquote {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-left: 3px solid var(--accent-color);
}

blockquote:first-of-type {
  margin-top: 10px;
}

figure {
  padding: 0.5em 2em;
  text-align: center;
}

.timeline li {
  display: block;
  text-align: left;
  width: 1.25em;
  height: 1.25em;
  background: var(--text-color);
  line-height: 1.2;
  position: relative;
  border-radius: 50%;
  margin: 1.5em auto;
}

.timeline li:before {
  display: block;
  left: -2.5em;
  content: attr(data-time);
  font-size: 1em;
  position: absolute;
  transform: translateX(-50%);
  font-family: "The Seasons", serif;
  text-transform: uppercase;
  font-weight: bold;
}

.timeline li:after {
  display: block;
  left: auto;
  top: 50%;
  right: 0;
  margin-bottom: auto;
  margin-right: -0.625em;
  transform: translate(100%, -50%);
  content: attr(data-text);
  font-size: 1em;
  position: absolute;
}

.timeline {
  width: 1.25em;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  list-style: none;
  text-align: justify;
  padding-left: 0;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, var(--accent-color)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
  background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, var(--accent-color) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.prompt {
  position: absolute;
  bottom: 2em;
  text-align: center;
  font-size: 0.75em;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation-name: bounce; 
  animation-name: bounce; 
  -webkit-animation-duration: 5s;
  animation-duration: 5s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes bounce {
   0%, 4%, 10%, 16%, 100% {transform: translateY(0);} 
   8% {transform: translateY(-2em);} 
   12% {transform: translateY(-1em);} 
}
 @-webkit-keyframes bounce { 
            0%, 4%, 10%, 16%, 100% {-webkit-transform: translateY(0);} 
            8% {-webkit-transform: translateY(-2em);} 
            12% {-webkit-transform: translateY(-1em);} 
         } 
