@media only screen and (min-width: 770px) {
  .landing-container {
    background-position: center;
    background-size: cover;

    font-size: 24px;
  }

  section {
    max-width: 960px;	
    padding: 1em;
    margin: 0 auto;
  }
}
