<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ with .Site.Params.description -}}
  <meta name="description" content="{{ . }}">
  {{ end }}
  {{ printf `
  <link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}

  {{ $resources := slice -}}

  {{ $resources = $resources | append (resources.Get "css/reset.css") -}}
  {{ $resources = $resources | append (resources.Get "css/fonts.css") -}}
  {{ $resources = $resources | append (resources.Get "css/main.css") -}}
  {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

  {{ $css := $resources | resources.Concat "css/style.css" | minify }}
  {{ printf `
  <link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

  <title>{{ .Title }}</title>

</head>
