{{ define "landing" }}
<div class="landing-container">

  <div class="container">
    <h2>Isabelle & Jonathan</h2>
    <h1 class="initial-logo">
      <span>I</span>
      <div class="image">
        <img src="/img/logo.png" alt="A floral design" />
      </div>
      <span>J</span>
    </h1>
    <h3>Are Getting Married!</h3>
  </div>

  <span class="prompt">Scroll for more</span>

</div>
{{ end }}
{{ define "main" }}
{{ if gt (len .Content) 0 }}
<section id="wedding-content">
  {{ .Content }}
</section>
{{ end }}
{{ end }}
